@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Cabin:ital,wght@0,400..700;1,400..700&family=Days+One&display=swap" rel="stylesheet');


:root {
	--heading-font:  "Cabin", serif;
	--context-font:  "Anek Latin", serif;

	/* font size */
	--base-size: 16px;
	--gutter-size:calc(2*var(--base-size));
	
	--color--background: #E5E5E5;
	--color--black: #141414;
	--color--fluorescentgreen: #29E648;
	--color--lightgreen: #03BD5E;
	--color--darkgreen: #015A4F;
	--color--purple: #E427FF;

	--block-size: 19.5vw;
}

@media (min-width:768px){
	:root{
		--base-size: 17px;
		--gutter-size: calc(4*var(--base-size));
	}
}

html{
	/* https://www.w3schools.com/cssref/css_pr_scroll-snap-type.php */
	scroll-behavior: smooth;
}

body{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: var(--color--background);
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-snap-type: x mandatory;
}

#navbutton{
	font-size: calc(1.8*var(--base-size));
	position: fixed;
	right: var(--gutter-size);
	top: var(--gutter-size);
}

#menu{
	background-color: var(--color--black);
	color: var(--color--background);
	inset: 0;
	place-content: center; /* Center the tracks. */
	place-items: center; /* Center within the tracks. */
}

.close{
	font-family: var(--context-font);
	font-size: calc(1.8*var(--base-size));
	position: absolute;
	right: var(--gutter-size);
	top: var(--gutter-size);
	display: flex;
	align-items: center;
}

nav ul{
	display: flex;
	gap: var(--gutter-size);
	justify-content: center;
}

main{
	max-width: 100vw;
}

section{
	width: 100vw;
	overflow-x: hidden;
	overflow-y: hidden;
}

h2{
	font-family: var(--heading-font);
	font-size: calc(2*var(--base-size));
	font-weight: 400;
	padding-block: var(--gutter-size);
	text-align: left;
	line-height: 90%;
	color: white;
}

p{
	font-family: var(--context-font);
	font-size: var(--base-size);
	line-height: 140%;
	font-weight: 200;
}


 
/* .marquee{
	width: 100vw;
	margin-top: 0px;
	background-color: var(--color--lightgreen);
	padding-block: calc(0.5*var(--base-size));
	overflow: hidden;
	white-space: nowrap;
}

.marquee p{
	display: inline-block; 
	animation: scroll 20s linear infinite;
}  */

/* @keyframes scroll {
	from {
	  transform: translateX(50%);
	}
	to {
	  transform: translateX(-100%);
	}
  } */

/* .dot{
	color: var(--color--purple);
} */
/* 
.marquee p{
	color: black;
	font-size: calc(0.9*var(--base-size));
} */



/* blocks *//* blocks *//* blocks */
/* blocks *//* blocks *//* blocks */
/* blocks *//* blocks *//* blocks */

/* image *//* image *//* image */


section:has(#image-blocks){
	margin: 0px;
	height: 98vh;
	width: 100vw;
}

#image-blocks{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: calc(0.2*var(--gutter-size));
	overflow-x: auto;
	margin-top: calc(3*var(--gutter-size));
	padding-left: 0px;
	animation: scroll 40s linear infinite;
	overflow-x: visible;
}

#image-blocks:hover{
	animation-play-state: paused;
	/* https://www.w3schools.com/cssref/css3_pr_animation-play-state.php */
}

.image-blocks{
	width: calc(4*var(--block-size));
	height: calc(4*var(--block-size));
	aspect-ratio: 1/1;
	object-fit: cover;
	position: relative;
}

.image-blocks img{
	aspect-ratio: 1/1;
	object-fit: cover;
	overflow: hidden;
	filter: grayscale(100%);
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/grayscale */
}

.image-blocks:hover img{
	filter: grayscale(0%);
	cursor: pointer;
}

.image-blocks img:nth-child(1){
	margin-left: var(--gutter-size);
}

@keyframes scroll {
	from {
	  transform: translateX(0%);
	}
	to {
	  transform: translateX(-500%);
	}
}

figcaption{
	/* width: 50vw; */
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: calc(2*var(--gutter-size));
	top: calc(15*var(--gutter-size));
	left:var(--gutter-size);
	z-index: 2;
}

figcaption p:nth-child(1){
	width: auto;
	font-size: calc(2*var(--base-size));
	font-family: var(--heading-font);
	color: var(--color--darkgreen);
}

figcaption p:nth-child(2){
	width: auto;
	font-size: calc(1*var(--base-size));
	color: var(--color--black);
}

.image-blocks figcaption{
	display: none;
}

.image-blocks:hover figcaption{
	display: block;
}

/* video *//* video *//* video */

section:has(#video-blocks){
	height: 100vh;
	overflow-y: hidden;
	background-color: #141414;
	margin: 0px;
	display: flex;
	flex-direction: column;
	padding-block: calc(2*var(--gutter-size));
	gap: var(--gutter-size);
}

#video-blocks{
	height: 100vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: calc(2*var(--gutter-size));
	overflow-x: auto;
	padding-left: 0px;
	scroll-snap-type: x mandatory;
}

.video-blocks{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: calc(2*var(--gutter-size));
}

#video-blocks p{
	font-family: var(--heading-font);
	text-transform: uppercase;
	color: var(--color--background);
}

.video-blocks video{
	width: 100vw;
	aspect-ratio: 4/5;
	filter: grayscale(100%) opacity(80%);
	object-fit: cover;
	overflow: hidden;
}

.video-blocks iframe{
	width: 100vw;
	aspect-ratio: 4/5;
	filter: grayscale(100%) opacity(30%);
}

.video-blocks.notblur iframe,
.video-blocks.notblur video{
	filter: grayscale(100%) opacity(100%);
}

.video-blocks:hover video{
	filter: grayscale(0%);
}

.video-blocks:hover iframe{
	filter: grayscale(0%);
}

aside{
	font-family: var(--context-font);
	font-size: calc(0.8*var(--base-size));
	color: var(--color--background);
	opacity: 30%;
	position: relative;
	text-align: center;
}


/* text *//* text *//* text */

section:has(#text-blocks){
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#text-blocks{
	height: 90vh;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	gap: calc(2*var(--gutter-size));
}

blockquote{
	display: flex;
	align-items: center;
	padding: calc(2*var(--gutter-size));
}

blockquote p{
	width: 80vw;
	height: auto;
	font-size: calc(1.7*var(--base-size));
	font-weight: 400;
	color: #015A4F;
}

blockquote p.slidein{
	animation: slideinfromtop 1s ease-in forwards; 
}

blockquote:nth-of-type(2) p.slidein{
	animation: slideinfrombottom 1s ease-in forwards; 
}

@keyframes slideinfromtop {
	0% {
		transform: translateY(40%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes slideinfrombottom {
	0% {
		transform: translateY(-40%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

section:nth-of-type(3) aside{
	color: var(--color--darkgreen);
}

/* audio *//* audio *//* audio */


section:has(#audio-blocks){
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--color--darkgreen);
}

#audio-blocks{
	height: 90vh;
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	scroll-snap-type: x mandatory; 
	gap: calc(1*var(--gutter-size));	
}

#audio-blocks li{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: calc(1*var(--gutter-size));	
}

#audio-blocks p{
	width: 100vw;
	text-align: center;
	color: var(--color--background);
}

#audio-blocks img{
	width: 80vw;
	object-fit: contain;
	filter: grayscale(100%);	
}

#audio-blocks img:hover{
	cursor: pointer;
	animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

section:nth-of-type(4) aside{
	color: var(--color--background);
}

/* links *//* links *//* links */

section:has(#link-blocks){
	width: 100vw;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: auto;
	background-color: var(--color--black);
	margin: 0px;
	padding-block: calc(1*var(--gutter-size));
}

#link-blocks{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-x: auto;
	gap: calc(1*var(--gutter-size));
	scroll-snap-type: x mandatory;
	width: 100vw;
}

.link-blocks {
	width: 100vw;
}

.link-blocks picture{
	width: 100%;
}

.link-blocks iframe,#link-blocks img, .rich , .link-blocks .PDF{
	object-fit: cover;
	width: 100vw;
	aspect-ratio: 3/4;
	filter: grayscale(100%) opacity(50%);	
}

/* change blur to opacity */

.rich ,
.link-blocks.notblur iframe,
.link-blocks.notblur img,
.link-blocks.notblur .PDF 
{
	filter: grayscale(100%) opacity(100%);
}

.link-blocks iframe:hover, .rich:hover, 
.link-blocks.notblur img:hover, 
.link-blocks.notblur .PDF:hover{
	filter: grayscale(0%);
}

/* desktop */
/* desktop */
/* desktop */

@media (min-width: 768px){
	
	section{
		width: 100vw;
		height: 100vh;
		scroll-snap-align: start;
	}


	h2{
		font-size: calc(3*var(--base-size));
	}

		
	/* how to set image as cursor upon hover: https://dev.to/enjeck/set-image-as-cursor-upon-hover-3nbh */
	/* cursor: url(images/cursor.png), auto; */
	

	/* blocks  *//* blocks  *//* blocks  */
	/* blocks  *//* blocks  *//* blocks  */
	/* blocks  *//* blocks  *//* blocks  */

	/* image  *//* image  *//* image  */


	#image-blocks{
		margin-top: calc(2*var(--gutter-size));
	}

	.image-blocks{
		width:  var(--block-size);
		height:  50vh;
	}

	figcaption{
		width: 100%;
		top: calc(5*var(--gutter-size));
		left: calc(var(--gutter-size));
	}

	figcaption p:nth-child(1){
		font-size: calc(1.5*var(--base-size));
	}
	
	figcaption p:nth-child(2){
		font-size: calc(1*var(--base-size));
	}

	/* video  *//* video  *//* video  */

	section:has(#video-blocks){
		height: 120vh;
	}

	#video-blocks{
		gap: calc(0.2*var(--gutter-size));
		overflow-x: auto;
		padding-inline: calc(3*var(--gutter-size));
		padding-block: 0px;
	}

	.video-blocks{
		gap: calc(0.5*var(--gutter-size));
	}
	
	#video-blocks video{
		width: 70vw;
		aspect-ratio: 16/9;
	}

	#video-blocks iframe{
		width: 70vw;
		aspect-ratio: 16/9;
	}	

	aside{
		font-size: calc(1*var(--base-size));
	}

	/* text  *//* text  *//* text  */

	#text-blocks{
		gap: calc(1*var(--gutter-size));
	}

	blockquote{
		width: 100%;
		padding: calc(3*var(--gutter-size));
	}

	blockquote:nth-child(2){
		margin-left: auto;
	}

	blockquote p{
		width: 100vw;
		font-size: calc(2.5*var(--base-size));
	}

	/* audio *//* audio *//* audio */
/* 
	audio{
		width: 60vw;
		height: 5vh;
		margin-bottom: 0px;
	} */

	#audio-blocks{
		gap: 0px;
		align-items: center;
		justify-content: center;
		width: 100vw;
	}

	#audio-blocks li{
		display: flex;
		flex-direction: column;
		gap: calc(0.2*var(--gutter-size));
		align-items: center;
		width: 14vw;
	}

	#audio-blocks img{
		object-fit: cover;
		filter: grayscale(100%) opacity(50%);	
	}

	#audio-blocks img:hover{
		filter: opacity(100%);
	}

	/* links *//* links *//* links */

	/* .link-blocks iframe, .rich,.link-blocks picutre img , .link-blocks .PDF{
		width: calc(1.2*var(--block-size));
	} */

}