@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Days+One&display=swap" rel="stylesheet');


:root {
	--heading-font:  "Days One", serif;
	--context-font:  "Anek Latin", serif;

	/* font size */
	--base-size: 16px;
	--gutter-size:calc(2*var(--base-size));
	
	--color--background: #E5E5E5;
	--color--black: black;
	--color--fluorescentgreen: #29E648;
	--color--lightgreen: #03BD5E;
	--color--darkgreen: #015A4F;
	--color--purple: #E427FF;
}

@media (min-width:600px){
	:root{
		--base-size: 20px;
		--gutter-size: calc(5*var(--base-size));
	}
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--color--background);
}

header{
	margin-inline: var(--gutter-size);
	margin-block: var(--gutter-size);
}

h1{
	font-family: var(--heading-font);
	font-size: calc(2.9*var(--base-size));
	padding-block: var(--gutter-size);
}

p{
	font-family: var(--context-font);
	font-size: var(--base-size);
	line-height: 120%;
}

img {
	display: block;
	width: 70%;
	padding-inline: calc(2*var(--gutter-size));
}


/* desktop */
/* desktop */
/* desktop */

@media (min-width:600px){

	header{
		margin-inline: calc(2*var(--gutter-size));
	}

	h1{
		font-size: calc(5*var(--base-size));
		padding-block: calc(0.2*var(--gutter-size));
	}

}
