@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Days+One&display=swap" rel="stylesheet');


:root {
	--heading-font:  "Days One", serif;
	--context-font:  "Anek Latin", serif;

	/* font size */
	--base-size: 16px;
	--gutter-size:calc(2*var(--base-size));
	
	--color--background: #E5E5E5;
	--color--black: black;
	--color--fluorescentgreen: #29E648;
	--color--lightgreen: #03BD5E;
	--color--darkgreen: #015A4F;
	--color--purple: #E427FF;
}

@media (min-width:600px){
	:root{
		--base-size: 20px;
		--gutter-size: calc(5*var(--base-size));
	}
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: var(--color--background);
}

header{
	margin: var(--gutter-size);
}

main{
	margin-inline: var(--gutter-size);
}

h1{
	font-family: var(--heading-font);
	font-size: calc(2.9*var(--base-size));
	padding-block: var(--gutter-size);
	text-align: center;
}

p{
	font-family: var(--context-font);
	font-size: var(--base-size);
	line-height: 120%;
	font-weight: 200;
}

section{
	margin-top: var(--gutter-size);
}

img {
	object-fit: contain;
	display: block;
	width: 100%;
}

video{
	object-fit: contain;
	/* aspect-ratio: 4/3; */
	width: 100%;
}

footer{
	margin-top: var(--gutter-size);
}

.quote{
	background-color: var(--color--darkgreen);
	color: white;
	padding: var(--gutter-size);
}

.quote p{
	font-size: calc(1.2*var(--base-size));
	text-align: center;
}

.marquee{
	margin-top: 0px;
	background-color: var(--color--fluorescentgreen);
	padding-block: calc(0.5*var(--base-size));
}

.dot{
	color: var(--color--purple);
}

.marquee p{
	color: black;
	font-size: calc(0.9*var(--base-size));
}



/* figcaption {
	font-family: var(--context-font);
	margin-top: 10px;
} */


/* desktop */
/* desktop */
/* desktop */

@media (min-width:600px){

	main{
		margin: calc(1.5*var(--gutter-size));
		margin-block: calc(0.2*var(--gutter-size));
	}

	header{
		margin-inline: calc(1.5*var(--gutter-size));
	}

	h1{
		font-size: calc(6.3*var(--base-size));
		padding-block: calc(0.2*var(--gutter-size));
	}

	img{
		width: 40%;
	}	

	section:nth-of-type(3) {
		margin-top: 0px;
	}

	section:nth-of-type(3)  img{
		margin-left: auto;
	}

	video:hover{

		/* how to set image as cursor upon hover: https://dev.to/enjeck/set-image-as-cursor-upon-hover-3nbh */
		cursor: url(cursor.png), auto;
	}

	.quote{
		margin-block: var(--gutter-size);
	}
}

